@tailwind base;
@tailwind components;
@tailwind utilities;

/* .Toastify__progress-bar-theme--light {
    background: #65c3c8;
} */


@layer base {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@layer components {
    html:has(.drawer-auto-gutter .drawer-toggle:checked) {
        scrollbar-gutter: auto;
    }
}

.Toastify__progress-bar--success {
    background: #65c3c8;
}

.btn, .input {
    @apply rounded-xl
}

